.text_hr_vp_footer {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }

  
  .img_lg_footer {

    width: 15%; 
    margin-right: 1%
  }

  .footer{ 
    background-color: #1a1a1a;
    border-color: #ddd;
    margin: 0 auto;
 
    text-transform: uppercase;
    margin-bottom: 1%;
    width: 85%;
    height: 30%;
    color: #fff;
  
  
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
   
   
    
}

.column {
  margin-left: 5%;
  width: 20%;
    
}

.column ul {
    list-style: none;
    padding: 0;
}

.column li {
    margin-bottom: 10px;
}

.column a {
    color: #fff;
    
  
    transition: color 0.3s ease;
}

.column a:hover {
    color: #ccc;
}